header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    justify-content: center;
    background: #555;
    box-shadow: 0px 0px 5px #999;
}
.row_nav{  
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-family: 'Spartan';  
    color: #FFF;
    margin:0px auto;
}


.myNombre{
    font-size: 24px;   
    padding-left: 5px;
    padding-top: 10px;
}

.row_nav ul {
    display: flex;   
    flex-flow: row wrap;
    justify-content: space-between;
    margin: auto 0px;
}


.row_nav > ul > li {
    padding: 10px 0px;
    transition: all 300ms;

}

.row_nav > ul > li a{
    padding: 0px 10px 0px 10px;
    color:#fff;
    text-decoration: none;
}

.row_nav > ul > li:hover{
    background: #48e;
    box-shadow: 0px 0px 4px blue inset;
    font-weight: 400;   
}


/* DESPLEGABLES */

.row_nav > ul > li > ul {
    display: none;
    position: absolute;
    width: auto;
    text-decoration: none;
    background: #66666666;
}


.row_nav > ul > li:hover > ul {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 12px;
    box-shadow: 0px 2px 2px #999;
    z-index: 1;
}
 
.row_nav > ul > li:hover > ul > li{
    background:#F2F1F0;
    border-bottom: 1px solid #ccc;
    padding: 8px;
    line-height: 25px;
    font-size: 13px;    
}

.row_nav > ul > li:hover > ul > li > a{
    color: #666;
}

.row_nav > ul > li:hover > ul > li:hover{
    box-shadow: 0px 0px 20px #48e inset;
} 