#inicio{
    font-family: 'Spartan';
}

#inicio .datos{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    
}

#inicio .imagen{
    border:2px groove #FFF;
    border-radius: 50%;
    height: 100%;
    box-shadow: 0px 0px 10px #333;
}

#inicio h1{
    font-size: 2em;
    font-weight: 700;
}

#inicio h2{
    font-size: 2em;
}
#inicio .h2-normal{
    font-size: 1.4em;
}

#inicio p{
    margin: 0;
}