
@import  'header.css';
@import  'inicio.css';
@import  'formacion.css';

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background-image: url("../images/paper.png");
    height: 1800px;
}


.container{
     max-width: 1200px; 
}
.tarjeta{
    display: flex;
    justify-content: space-around;
    background: #FFF;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 1px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px #999;
}
